* {
    background-color: rgb(69, 89, 123);
}

button {
    background-color: rgb(146, 172, 221);
    border: 3px solid rgb(57, 104, 192);
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
}

#boxArea {
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 15vh;
    width: 60vw;
}
#buttonArea {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
}

#red {
    background-color: rgb(243, 89, 84);
    border-color: hsl(2, 87%, 40%);
}
#green {
    background-color: rgb(94, 221, 105);
    border-color: hsl(125, 65%, 40%);
}
#blue {
    background-color: rgb(49, 120, 252);
    border-color: hsl(219, 97%, 40%);
}
#yellow {
    background-color: rgb(233, 245, 64);
    border-color: hsl(64, 90%, 40%);
}
#pink {
    background-color: rgb(238, 117, 147);
    border-color: hsl(345, 78%, 40%);
}

.rectangle {
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;

    height: 100px;
    width: 200px;
}

.shown {
    display: flex;

}
.hidden {
    display: none;
}