html {
    background-color: #45597b;
}

#boxArea {
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 15vh;
    height: 100%;
    width: 60vw;
}

#red {
    background-color: #f35954;
    border-color: #bf130d
}
#green {
    background-color: #5edd69;
    border-color: rgb(36, 168, 47)
}
#blue {
    background-color: #3178fc;
    border-color: #0348c9;
}
#yellow {
    background-color: #e9f540;
    border-color: #b6c20a;
}
#pink {
    background-color: #ee7593;
    border-color: #b6163e;
}

.box {
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;

    height: 100px;
    width: 200px;
}

.shown {
    display: flex;

}
.hidden {
    display: none;
}

#buttonArea {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
}

button {
    background-color: #92acdd;
    border: 3px solid #3968c0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
}