table {
    border: 0;
    border-collapse: collapse;
}

thead {
    background-color: rgb(202, 216, 230);
}

td, th {
    border: solid 2px black;
}

th:first-child {
    background-color: white;
    border: 0;
}

.aprovado td {
    background-color: rgb(213, 245, 166);
}
.reprovado td {
    background-color: rgb(253, 169, 169);
}