@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

body {
    /* background-color: #ecb3b3; */
    background-image: linear-gradient(#ecb3b3, #ecc8b3, #ecdfb3);
}

main {
    background-color: #fff3f3a9;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    margin-top: 25vh;
    padding: 4pc;
}

input {
    background-color: #f8d6d6a8;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 12pt;
    padding: 10px;
}