@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    color: rgb(178, 165, 238);
    font-family: 'Source Code Pro', monospace;
}



html {
    background-color: rgb(134, 124, 179);
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

input {
    border-radius: 4px;
}

.main {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 100px;
}

.none {
    display: none;
}
.erro {
    color: rgb(248, 86, 86);
    text-decoration: underline;
    font-size: 16px;
}

.botao {
    background-color: rgb(123, 114, 165);
}

#resultado {
    font-size: 26px;
    text-decoration: underline;
}