body {
    background-color: cadetblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.votos {
    display: flex;
    width: 120%;
}

.porcentagem {
    font-size: 15pt;
    float: right;
    height: 50%;
    margin: auto;
    margin-right: 0;
}

.porcentagem {
    float: right;
}

#mainArea {
    background-color: azure;
    border-radius: 12px;
    margin-top: 10vh;
    height: 30pc;
    width: 50pc;
}

#votos {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
}