html.dark {
  color-scheme: dark
}

* {
  /* color: #f39ba3; */
  font-size: 14pt;
  @apply text-pink-300 dark:text-stone-200;
}

body {
  padding: auto;
}

main {
  /* background-color: #f3d8e3; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8vh 0px;
  height: 100vh;
  width: calc(100vw - (2rem + 32px));
  @apply bg-pink-200 dark:bg-neutral-900;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.main-area {
  /* background-color: #f8f2f4; */
  border-radius: 12px;
  padding: 35px;
  margin: auto;
  width: 35%;
  @apply bg-pink-50 dark:bg-stone-800;
}

label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  font-style: italic;
}

input {
  /* background-color: #f3f2f2; */
  border: solid 1px #ddc9cf;
  border-radius: 5px;
  padding: 8px 15px;
  text-align: center;
  width: 80%;
  @apply bg-rose-50 dark:bg-stone-500;
}

input[type="number"] {
  appearance: textfield;
}

::placeholder {
  color: #f39ba3;
}

::selection {
  background-color: #f39ba2a4;
  color: #f0839acb;
}