/* Font used for values in number inputs */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Spline+Sans+Mono&display=swap');
/* Fonts used for uppercase and italic texts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  font-size: 14pt;
  @apply text-rose-300 dark:text-rose-200;
}

html.dark {
  color-scheme: dark;
}

body {
  padding: auto;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8vh 0px;
  height: 100vh;
  width: 18pc;
  @apply bg-rose-200 dark:bg-[#2f1323];
}

h1 {
  @apply font-lato;
  text-align: center;
  text-transform: uppercase;
}

.main-area {
  border-radius: 12px;
  padding: 55px;
  margin: auto;
  width: 30pc;
  @apply bg-rose-50 dark:bg-[#531336];
}

label {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-style: italic;
}

input {
  border: solid 1px #ddc9cf;
  border-radius: 5px;
  padding: 8px 15px;
  text-align: center;
  width: 80%;
  @apply bg-rose-50 dark:bg-[#810b4c];
}

input[type="number"] {
  appearance: textfield;
  font-family: 'Spline Sans Mono', monospace;
}

::placeholder {
  color: #f39ba3;
}

::selection {
  background-color: #f39ba2a4;
  color: #f0839acb;
}
